body {
	font-family: 'Roboto Slab', serif !important;
}

.navbar-default {
	height: 125px;
	color: #f5941f;
	background-color: white !important;
	border: none !important;
}

.navbar-brand {
	margin-top: 15px;
}

.navbar-text a {
	color: #f5941f !important;
	font-weight: 400;
	font-size: 18pt;
	text-decoration: none;
}

.navbar-text a:hover {
	text-decoration: none;
	color: #484848 !important;
}

/** HEADER STYLING BEGINS HERE **/
.jumbotron {
	background-image: url('../img/black_pattern.png');
	background-size: cover, 100%, no-repeat;
	height: 100%;
	letter-spacing: 3px;
	margin-bottom: 0px !important;
}

.jumbotron h1 {
	color: white !important;
	font-weight: 700;
	margin-top: -20px;
}

#about {
	float: left;
	margin-top: 50px;
	color: white;
}

#about p{
	font-size: 1.2em;
}


.list-group li {
	border: none !important;
	font-weight: 700;
	font-size: 1.2em;
}

.list-group-item {
	background-color: none !important;
}

#video {
	float: right !important;
	margin-top: 50px
}

.embed-responsive-item {
	border: none !important;
}

/** HOW IT WORKS STYLING BEGINS HERE **/

.how {
	background-color: #f1efec;
	background-image: url('../img/logo_opacity.png');
	background-repeat: no-repeat;
	text-align: center;
	color: #a54b9c;
	font-size: 48pt;
}

hr {
	text-align: center;
	color: black;
	width: 50px;
}